[submodule "submodules"]
	path = submodules
	url = git@github.com:mitsuyoshi-yamazaki/AntOSSubmodule.git
[submodule "submodules/private"]
	path = submodules/private
	url = git@github.com:mitsuyoshi-yamazaki/AntOSSubmodule.git
